<app-header-comp></app-header-comp>
<section class="flex flex-col  justify-center items-center w-full h-screen">
  <div class="my-4 flex flex-col justify-center items-center">
    <h1 class="my-3 text-xl">Calculadora <span class="text-blue-400">AR$</span> en</h1>
    <div class="flex flex-row text-4xl">
      <div class="flex flex-row items-center">
        <i class="fa-brands fa-microsoft"></i>
        <h2 class="border-r pr-3 mx-2">Microsoft</h2>
      </div>
      <div class="flex flex-row items-center">
        <i class="fa-brands fa-steam"></i>
        <h2 class="mx-2">Steam</h2>
      </div>

    </div>
  </div>
  <h1 class="text-2xl ">Elige tu plataforma</h1>
  <HomeComp></HomeComp>
  @if (Menu === true){
  <button class="hidden"></button>
  }
  @else{
  <button (click)="abrirMenu()">Leer Antes</button>
  }
  @if (Menu === true){

  <div (click)="closeMenu()"
    class='absolute w-auto border border-red-400 bg-red-900 p-3 rounded-xl flex flex-col items-end '>
    <button class='' (click)="closeMenu()">
      <i class="fa-solid fa-circle-xmark"></i>
    </button>
    <div class='flex flex-col justify-center items-center'>
      <h1 class='font-bold p-1 text-xl my-3'>IMPORTANTE</h1>
      <p class='text-center'>
        Los resultados obtenidos, son un aproximado cercano que se puede obtener. <br /> El total real
        dependerá en sí de los impuestos implementados por el banco que se use.
      </p>
      <span class='font-bold my-3 text-center'>
        Última Actualización <br /> 25-04-2022
      </span>
    </div>
  </div>

  }
</section>
<app-footer-comp></app-footer-comp>
<router-outlet></router-outlet>