<app-header-comp></app-header-comp>
<section class="flex flex-col  justify-center items-center w-full h-screen">
  <div class="my-4 flex flex-col justify-center items-center">
    <h1 class="my-3 text-xl">Calculadora <span class="text-blue-400">AR$</span> en</h1>
    <div class="flex flex-row text-4xl">
      <div class="flex flex-row items-center">
        <i class="fa-brands fa-microsoft"></i>
        <h2 class="border-r pr-3 mx-2">Microsoft</h2>
      </div>
      <div class="flex flex-row items-center">
        <i class="fa-brands fa-steam"></i>
        <h2 class="mx-2">Steam</h2>
      </div>

    </div>
  </div>
  <h1 class="text-2xl ">Elige tu plataforma</h1>
  <HomeComp></HomeComp>
  @if (Menu === true){
  <button class="hidden"></button>
  }
  @else{
  <button (click)="abrirMenu()">Leer Antes</button>
  }
  @if (Menu === true){
  <section>
    <h1>este es el menu</h1>
    <button (click)="closeMenu()">Cerrar</button>
  </section>
  }
  <!-- {abrirCard && <AdverHome onClick={closeMenu} />} -->
</section>
<app-footer-comp></app-footer-comp>
<router-outlet></router-outlet>